#modal {
    background: white;
    width: 100%;
    top: 3rem;
    box-sizing: border-box;
    padding: 1rem;
    border: 1px solid black;
    height: 45vh;
    overflow-y: scroll;
    text-align: center;
}

#start-btn {
    width: 100%;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 155px;
}
