{% extends 'core/base.html' %}
<head>
    <link rel="stylesheet" href="/static/css/datatable.css">
    <title>f</title>
</head>
{% block title %} Transactions | {{ block.super }}{% endblock title %}

{% block content %}
    {% include "core/messages.html" %}

    <div class="page-header">
        <h1 class="text-center"><b>Scopus abstract extraction</b></h1>
    </div>

    <div class="row">

        <div class="col-xs-12 col-md-8 text-left">
            <h4><b>Account Name: </b>{{ user.full_name }}</h4>
            <h4><b>Email Address: </b>{{ user.email }}</h4>
        </div>
        <div class="col-xs-6 col-md-4 text-left">
            <h4><b>Account Created: </b>{{ user.date_joined|date:'d-m-Y' }}</h4>
        </div>

    </div>

    <hr>

    <div class="page-header">
        <h2 class="text-center"><b>Transaction Details</b></h2>
    </div>

    <a class="editor_create">Create new record</a>

    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Date / Time</th>
            <th>Count</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% if category %}
                {% for obj in category %}
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ obj.name_group_dataset }}</td>
                    <td>{{ obj.timestamp }}</td>
                    <td><a class="btn btn-danger" href="{% url 'choose_category' obj.id %}">Start</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <p>No objects are available right now.</p>
            {% endif %}
        <tr>
            <th class="text-right" scope="row" colspan="3">Total</th>

            <td>{{ category_obj.count }}</td>
        </tr>

        </tbody>
    </table>
{% endblock content %}
