{% extends 'core/base.html' %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>f</title>
</head>
<body>
{% block title %} Transactions | {{ block.super }}{% endblock title %}

{% block content %}
    {% include "core/messages.html" %}



    <!-- List of uploaded documents -->
    {% if documents %}
        All documents in the database:
        <ul>
            {% for document in documents %}
                <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No documents.</p>
    {% endif %}

    <!-- Upload form. Note enctype attribute! -->
    <form action="{% url 'transactions:show_files' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ message }}
        <p>{{ form.non_field_errors }}</p>

        <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

        <p>
            {{ form.docfile.errors }}
            {{ form.docfile }}
        </p>

        <p><input type="submit" value="Upload"/></p>
    </form>
{% endblock content %}
</body>
</html>